{% extends "base.html" %} 
{% load humanize %}

{% block titulo_pagina %}
    <h2>Cursos ofertados por área do conhecimento</h2>
{% endblock %} 

{% block conteudo %}

<div class="dashboard">

    {% if dados_area %}
        {% for item in dados_area %}
            <div class="card">
                <h3>{{ item.area }}</h3>
                <p>{{ item.quantidade_cursos|intcomma }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>Nenhum dado encontrado.</p>
    {% endif %}

</div>

{% endblock %}
