{% extends "base.html" %} 
{% load humanize %}

{% block titulo_pagina %}
    <h2>Ranking dos 15 municípios com mais campi</h2>
{% endblock %} 

{% block conteudo %}

<div class="dashboard">

    <table class="tabela-municipios">
        <thead>
            <tr>
                <th>Posição</th>
                <th>Município (UF)</th>
                <th>Quantidade de Campi</th>
            </tr>
        </thead>
        <tbody>
            {% for municipio in ranking_municipio %}
                <tr>
                    <td>{{ forloop.counter }}º</td>
                    <td>{{ municipio.0 }} ({{ municipio.1 }})</td>
                    <td>{{ municipio.2|intcomma }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">Nenhum dado disponível.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}
